<body>
    
    <div class="container">
        <!-- {{title}} -->
        <div class="kore">
            <img src="assets/kore.png" alt="image illa" class="kore">
        </div>
        <div class="factimg"> 
            <img src="assets/elevate.jpg" alt="" class="elevate">

        </div>
        <div class="agile">
            <br>
            <br>
            
            <p class="hi">Agile</p>

        </div>
        <br> <br>
        <p class="para">Combining the capacity of large global providers with the velocity of a tight team,we get more of the right things done,faster</p>
       
    
   <button (click) ="btnclick()">clickhere  </button>
</div>
</body>
