<body>
    <div class="container">
        <div class="kore">
            <img src="assets/kore.png" alt="image illa" class="kore">
        </div>
        <div class="factimg"> 
            <img src="assets/doc.jpg" alt="" class="elevate">

        </div>
        <div class="agile">
            <p class="hi">Simplify <br>IoT</p>

        </div>
        <p class="para">Combining the capacity of large global providers with the velocity of a tight team,we get more of the right things done,faster</p>
       
    
        <button (click) ="btnclick2()">clickhere  </button>
</div>
</body>
